.centered {
  text-align: center;
}
#title {
  font-size: 30px;
}
#subtitle {
  font-size: 15px;
}
div {
  background-color: gray;
}
li {
  list-style-type: none;
}
#content {
  text-decoration: underline;
}
.monospaced {
  font-family: monospace;
}
