.centered {
  text-align: center;
}

#title {
  font-size: 30px;
  margin: 0px;
}

#subtitle {
  font-size: 15px;
  margin: 0px;
}

div {
  background-color: gray;
}

li {
  list-style-type: none;
}

#content {
  text-decoration: underline;
}

.monospaced {
  font-family: monospace;
}
